.hero-section {
  display: flex;
  background-color: #FEFAF5;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
}
.hero-section__main-col {
  display: flex;
  flex-direction: column;
}
.hero-section__title {
  color: #335576;
  font-size: 2.2rem;
  width: 75%;
  margin-top: 6rem;
  text-align: left;
}
@media (max-width: 768px) {
  .hero-section__title {
    font-size: 1.5rem;
    width: 100%;
  }
}
@media (max-width: 548px) {
  .hero-section__title {
    font-size: 1rem;
  }
}
.hero-section__description {
  font-size: 0.85rem;
  font-weight: 500;
  color: #335576;
  width: 75%;
  margin-top: 0;
  text-align: left;
}
@media (max-width: 768px) {
  .hero-section__description {
    width: 100%;
  }
}
.hero-section__img {
  height: 20rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}
@media (max-width: 768px) {
  .hero-section__img {
    margin-left: 15%;
  }
}
@media (max-width: 548px) {
  .hero-section__img {
    height: 10rem;
    display: none;
  }
}
@media (max-width: 375px) {
  .hero-section__img {
    display: none;
  }
}
.hero-section__button {
  display: inline-block;
  font-size: 0.85rem;
  background-color: #DB7A4E;
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 9.5rem;
  padding: 0.6rem 0;
  transition: transform 0.3s ease 0s;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
}
.hero-section__button:hover {
  color: #FFF;
  font-weight: bold;
  transform: translateY(-10px);
}

.recs-section {
  background-color: #FFF;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
}
.recs-section__title {
  color: #335576;
  font-size: 1.4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.recs-section__cards-layout {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}
.recs-section__card {
  margin: 0;
  position: relative;
}
.recs-section__img {
  width: 16rem;
  height: 24.5rem;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
}
.recs-section__img:hover {
  opacity: 50%;
  border: 3px solid #FFF;
}
.recs-section__card-name {
  position: absolute;
  bottom: 0px;
  right: 17px;
  color: #FFF;
  font-size: 1.35rem;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 3rem;
  padding-left: 4rem;
  background: #FEFAF5;
}
.newsletter__title {
  color: #335576;
  font-size: 1.4rem;
}
.newsletter__button {
  font-size: 0.85rem;
  background-color: #DB7A4E;
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 7rem;
  padding: 0.3rem 0;
  transition: transform 0.3s ease 0s;
  text-align: center;
  margin-top: 1rem;
}
.newsletter__button:hover {
  color: #FFF;
  font-weight: bold;
  border: 3px solid #ff7300;
  transform: translateY(-10px);
}

.destination {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #335576;
  font-weight: bold;
  background-image: url(../assets/images/Images/plane-background.jpg);
  background-position: right;
}
.destination__title {
  color: #335576;
  font-size: 1.4rem;
}
.destination__info, .destination__info input, .destination__info textarea {
  width: 80%;
  padding: 0.625rem;
  color: #335576;
  margin: 0.5rem 0;
}
.destination__button {
  font-size: 0.85rem;
  background-color: #DB7A4E;
  color: #fff;
  border: none;
  border-radius: 25px;
  width: 7rem;
  padding: 0.3rem 0;
  transition: transform 0.3s ease 0s;
  text-align: center;
  margin-top: 1rem;
}
.destination__button:hover {
  color: #FFF;
  font-weight: bold;
  border: 3px solid #ff7300;
  transform: translateY(-10px);
}/*# sourceMappingURL=main.css.map */